.lesson__container {
    margin-top: 5rem;
    width: 100%;
}

.lesson_finished__container {
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lesson__container button {
    margin: 2em 0;
}

.status_finished__container {
    width: 50em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single_status {
    padding: 1.5em;
    border: 2px solid rgba(128, 0, 128, 0.2);
    border-radius: 10px;
}

.single_status p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: purple;
}
